__pycache__/
*.pyc
*.pyo

# Dataset
Models/datasetAPI/EEG-Motor-Movement-Imagery-Dataset/eegmmidb_matlab_files
Models/datasetAPI/EEG-Motor-Movement-Imagery-Dataset/eegmmidb
Models/datasetAPI/EEG-Motor-Movement-Imagery-Dataset/Processed-Data/

# Virtual Enviournment
psychi-learn/

# Model
Models/Saved_Files